@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar .navbar-brand {
    font-size: 22px;
    font-weight: 600;
}

.navbar a {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}


h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 50px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    margin-right: 5px;
}

.form-group .form-radio-group,
.form-group .form-checkbox-group {
    display: flex;
    flex-direction: column;
}

.form-group .form-radio-group label,
.form-group .form-checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.form-group .form-radio-group input,
.form-group .form-checkbox-group input {
    margin-right: 10px;
}

.form-group .form-checkbox-group {
    margin-bottom: 20px;
}

.form-group .form-checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group .form-checkbox-group label span {
    margin-left: 5px;
}

.form-group .form-required {
    color: red;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* footer Section */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 10%;
}

footer h1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

footer .social-icons {
    margin-top: 15px;
    margin-bottom: 15px;
}

footer .social-icons a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 28px;
}

footer p {
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

/* Media Query for mobile devices */
@media (max-width: 767.98px) {

    .navbar {
        border-bottom: 1px solid #666;
    }

    .footer-section h1 {
        font-size: 35px;
    }

    .property-section h2 {
        font-weight: 600;
        margin-top: 25%;
    }

    .contact-section h1 {
        font-size: 30px;
        margin-top: -5%;
    }
}